@font-face {
  font-family: 'AlegreyaSansSC-Medium';
  src: url(./fonts/AlegreyaSansSC-Medium.ttf);
}

body {
  font-family: 'AlegreyaSansSC-Medium';
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.1em;
  text-shadow: 2px 2px #1f2025;
}