:root {
  --background: #010038;
  --dark-blue: #293A80;
  --light-blue: #537ec5;
  --orange: #f39422;
  --text-primary: #ffffff;
  --baltic-sea: #2f2832;
  --rodeo-dust: #cbb9a1;
  --manatee: #92959b;
}

body {
  /* background: url('./img/grayangles.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
  padding: 0;
  color: #ffffff;
}